<<<<<<< HEAD
@import url ('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 1.600 & display = swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
>>>>>>> dev

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body{ 
    background: linear-gradient(45deg, #252FF1, #13BDEA, #07E818);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: #1C1C1C;
    border-radius: 10px;
    max-width: 350vw;
    min-height: 40vh;
    padding: 1rem;
    font-size: 10pt;
    box-shadow: 6px 6px 15px rgb(7, 7, 7);
    
}

main h2 {
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    padding: 7px;
    font-size: 1.2em;
    color: thistle;
}    

main h2::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 90%;
    bottom: 3px;
    border-radius: 8px;
    left: 1em;
    margin: auto;
    background: linear-gradient(45deg, #252FF1, #13BDEA, #07E818);
}

div.form {
    font-size: 0.9em;
    color: white;
    display: flex;
    flex-direction:column;
    text-transform: uppercase;
    text-align: center;


}

.icon i {
    color: rgb(206, 206, 236);
    margin-left: 13px;
}

.textbox {
    margin-bottom: 1.5rem;
    position: relative;
}

.textbox input {
    border: none;
    outline: none;
    text-align: center;
    font-family: sans-serif; 
    font-size: 0.8rem;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 8px;
    width: 80%;
    padding: 0.7rem;
    color: thistle;
    
}

#nome input {
    display: none;
}

.textbox input[type="date"] {
    text-align: center;
    text-transform: uppercase;
}

select {
    border: none;
    outline: none; 
    font-size: 0.8rem;
    margin-bottom: 10px;   
    border-radius: 8px;
    text-align-last: center;
    width: 80%;
    padding: 0.2rem;
    margin-top: 5px;
    appearance: none;
    background: white url(css/arrow.svg) no-repeat;
    background-position: 95% 55%;
}

.btn {
    border: none;
    outline: none; 
    font-size: 0.8rem;
    margin-bottom: 10px;   
    border-radius: 8px;
    width: 90%;
    padding: 0.4rem;
    margin: auto;
    cursor: pointer;
}

.btn :hover {
   background:rgba(255, 255, 255, 0.719);

}
