@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #252FF1, #13BDEA, #07E818);
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main.container {
    background: #1C1C1C;
    border-radius: 5px;
    max-width: 430px;
    min-height: 310px;
    padding: 1rem;
    font-size: 10pt;
    box-shadow: 6px 6px 15px rgb(7, 7, 7);
}

main h2 {
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    padding: 7px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: thistle;
} 

main p {
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
    padding: 7px;
    font-family: arial;
    font-size: 8.2pt;
    color: white;
} 

main h2::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 90%;
    bottom: 3px;
    border-radius: 8px;
    left: 1em;
    margin: auto;
    background: linear-gradient(45deg, #252FF1, #13BDEA, #07E818);
}

div.form {
    font-size: 0.9em;
    color: white;
    display: flex;
    flex-direction:column;
    text-transform: uppercase;
    text-align: center;
}

.textbox {
    margin-bottom: 1.5rem;
    position: relative;
}

.textbox input {
    border: none;
    outline: none;
    font-family: sans-serif; 
    font-size: 0.8rem;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 8px;
    width: 80%;
    padding: 0.7rem;
    color: thistle;  
}


.btn {
    margin-top: 5px;
}
